<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uw.tacoma.mmuppa.cssappwiththemesandstyles" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:logo="@drawable/book"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".controllers.CourseListActivity"
           android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
>
        <activity
            android:name=".controllers.CourseActivity"
            android:label="@string/app_course_add_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.CourseListActivity" />
        </activity>
        <activity
            android:name=".controllers.InstructorActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".controllers.AboutActivity"
            android:label="@string/app_about_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.CourseListActivity" />
        </activity>
    </application>

</manifest>
